<FilesMatch "\.(htaccess|ini)$">
  Order Allow,Deny
  Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^$ public/ [L]
  RewriteRule (.*) public/$1 [L]

  # 404 Error
  RewriteRule ^errors/404$ /errors/404 [L]
</IfModule>

# Security Headers
<IfModule mod_headers.c>
    Header set Content-Security-Policy "upgrade-insecure-requests"
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains"
    Header set X-Xss-Protection "1; mode=block"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-Content-Type-Options "nosniff"
    Header set Referrer-Policy "strict-origin-when-cross-origin"
    Header set Permissions-Policy "geolocation=self"
</IfModule>