.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFF;
}

.hero-text {
    max-width: 50%;
}

.modules, .overview, .module-detail {
    padding-block: 20px;
    background-color: #F4F4F4;
}

.modules .grc-button {
    margin-inline-start: 120px;
}

.module-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 999px) {
    .module {
        block-size: 480px;
    }
}