main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    box-sizing: border-box;
}

.overview h1 {
    font-size: 72px;
    font-weight: normal;
    margin-bottom: 20px;
}

.overview p {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 40px;
}

.module-detail {
    inline-size: 862px;
    text-align: center;
}

.module-detail > * {
    text-align: left;
}

.module-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.module {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    overflow: hidden;
}

.module h3 {
    margin: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 24px;
    font-weight: normal;
}

.metadata-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.grc-property {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
    inline-size: fit-content;
}

.grc-value {
    font-weight: bold;
    margin-left: 10px;
}

.grc-text-content {
    inline-size: 862px;
}

.grc-label {
    position: absolute;
    top: 0;
    left: 0;
    background: #FF0000;
    padding: 10px;
    border-radius: 0 0 8px 0;
}

.grc-label h4 {
    margin: 0;
    font-size: 18px;
}