/* COLOR PALLETE
dark-aqua   : #67B6D4
box-color   : rgba(103, 182, 212, 0.25)
red         : #d93d3d
*/

html,
body {
    font-family: Helvetica Neue, Arial, sans-serif;
    margin: 0;
}

/* || General styles */
hr {
    float: left;
    width: 120px;
    border: 2px solid white;
}

.wrapper-landing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(103, 182, 212, 0.25);
    padding: 20px;
    width: 60%;
    height: 60%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.heading {
    margin: 10%;
    font-size: 1.5rem;
}

/* Navigation */
.side-nav ul, .login-nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    width: 260px;
    height: 200px;
    position: absolute;
}

.login-nav ul {
    right: 10px;
    width: 170px;
    height: 50px;
}

.side-nav ul li,
.login-nav ul li {
    list-style-type: none;
    width: 100%;
    padding: 10px;
    border: 3.5px solid rgb(223, 223, 223);
    text-align: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

.nav-link:active {
    background-color: #67B6D4;
    transition: 0.15s ease-in;
}

.login-nav ul li { border: 2px solid white; }

.login-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}


/* background img every page */
#section-landing {
    padding: 20px;
    background: url('../img/background_1.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}


/* Navigation for login */
h1 {
    font-size: 48px;
    color: white;
    margin: 0;
    font-weight: 100;
}

btn-login {
    border: 1px solid white;
    padding: 6px 24px;
}

.navbar {
    width: 100%;
    height: 70%;
}

/* Login page */
.container-login {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 20%;
}

.wrapper-login {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.wrapper-login input {
    width: 200px;
    height: 26px;
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    font-size: 18px;
    display: block;
    position: relative;
    margin: 20px;
}

input::placeholder {
    color: #a1a1a1;
    font-size: 1.2rem;
}

.wrapper-login h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

#submit {
    width: 200px;
    height: 42px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 18px;
    margin: 20px 0px 0px 0px;
}

#submit:hover {
    border: 1px solid #a1a1a1;
    background-color: #67B6D4;
    transition: 0.02s ease-in;
}

.options a {
    color: #67B6D4;
    transition: 0.02s ease-in;
    text-decoration: none;
}

.invalid-feedback {
    color: #d93d3d;
}

/* Text for about */
.container-text {
    float: left;
    color: white;
    padding: 0px;
}