/* COLOR PALLETE
dark-aqua   : #017BAC
red         : #EF3624
yellow      : #FFD500
*/

/* || Admin panel */
.admin-side-nav ul, .logout-nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    inline-size: 260px;
    block-size: 200px;
    padding: 0;
}

.logout-nav ul {
    right: 10px;
    width: 170px;
    height: 50px;
}

.admin-side-nav ul li,
.logout-nav ul li {
    list-style-type: none;
    inline-size: 100%;
    border: 3.5px solid rgb(158, 158, 158);
    text-align: center;
    line-height: 3.5rem;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
}

.nav-link:active {
    background-color: #017BAC;
    transition: 0.15s ease-in;
}

.logout-nav ul li { border: 2px solid white; }

.logout-nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
}

/* -- Navigation for login */
h1 {
    font-size: 48px;
    color: white;
    margin: 0;
    font-weight: 100;
}

h2 {
    margin-inline: 120px;
    margin-block: 40px;
}

.btn-login {
    border: 1px solid white;
    padding: 6px 24px;
}

.navbar {
    inline-size: 100%;
    margin-inline: auto;
}

/* -- Login page */
.container-login {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper-login {
    inline-size: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-group-button {
    inline-size: 100%;
    text-align: center;
}

.form-group:first-child {
    margin-block-end: 8px;
}

.heading-panel {
    display: flex;
    justify-content: center;
}

.wrapper-login input {
    inline-size: 300px;
    block-size: 26px;
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    font-size: 18px;
    display: block;
    position: relative;
    margin-block-start: 5px;
}

input::placeholder {
    color: #a1a1a1;
    font-size: 1.2rem;
}

.wrapper-login h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

#submit {
    width: 250px;
    height: 42px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 18px;
    margin-block-start: 20px;
}

#submit:hover {
    border: 1px solid #a1a1a1;
    background-color: #017BAC;
    transition: 0.02s ease-in;
}

.options a {
    color: #67B6D4;
    transition: 0.02s ease-in;
    text-decoration: none;
}

/* || General styles */
html,
body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

h1 {
    color: black;
    font-size: 4rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 0px 120px;
}

header nav {
    display: flex;
    justify-content: center;
    inline-size: 100%;
}

.afterheader {
    inline-size: 100%;
    block-size: 40px;
    background-color: #FFD500;
}

.grc-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #EF3624;
    color: #FFF;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 7px;
}

.hero {
    margin-inline-start: 100px;
}

.hero-image {
    box-shadow: 3.5rem 3.5rem #017BAC;
    border-radius: 50%;
    block-size: 580px;
    inline-size: 580px;
    margin-block: 60px;
    margin-inline: 60px;
    overflow: hidden;
    position: relative;
}

.module-grid {
    margin-inline: 30px;
}

.hero-text p {
    margin-block-start: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 100;
}

/* || Pagination */

.pagination-wrapper {
    display: flex;
    justify-content: center;
}

.pagination {
    position: relative;
    float: left;
    inline-size: fit-content;
	list-style-type: none;
	padding: 10px 0;
	display: inline-flex;
	justify-content: space-between;
	box-sizing: border-box;
}
.pagination li {
	box-sizing: border-box;
	padding-right: 10px;
}
.pagination li a {
	box-sizing: border-box;
	background-color: #e2e6e6;
	padding: 8px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #616872;
	border-radius: 4px;
}
.pagination li a:hover {
	background-color: #d4dada;
}
.pagination .next a, .pagination .prev a {
	text-transform: uppercase;
	font-size: 12px;
}
.pagination .currentpage a {
	background-color: #0d6efd;
	color: #fff;
}
.pagination .currentpage a:hover {
	background-color: #0d6efd;
}

/* || Other */

input.input-search {
    font-family: var(--bs-btn-font-family);
    inline-size: 250px;
}

.welcome-message {
    display: flex;
    justify-content: space-between;
}

.toolbar-wrapper {
    display: flex;
    justify-content: space-between;
    inline-size: fit-content;
}

.toolbar-wrapper > * {
    margin-right: 2%;
}

#popup-bar {
    height: 35px;
    line-height: 7px;
    position: relative;
    border: 1px solid rgba(18, 130, 18, 0.77);
    color: rgba(18, 130, 18, 0.77);
    border-radius: 5px;
    background-color: rgb(181, 255, 181);
    font-size: 0.95rem;
    padding: 13px;
}

.span-invalid-feedback {
    color: #d93d3d;
}

footer {
    background-color: #003D4C;
    color: lightgray;
    text-align: left;
    padding-block: 20px;
    padding-inline: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section:first-child {
    flex: 0.3 1 100px;
}

.footer-heading-secondary {
    color: #d93d3d;
    font-weight: 200;
    font-size: 1.4rem;
}

.footer-section:nth-child(1) > p {
    font-weight: 100;
    font-size: 1.6rem;
}

.social-media {
    flex: 0.2 0 200px;
}

.social-media-wrapper {
    display: flex;
    justify-content: end;
}

.footer-heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #FFF;
    text-decoration: none;
}

.social-media a {
    color: #FFF;
    margin: 0 10px;
    text-decoration: none;
}

.footer-bottom {
    text-align: left;
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid #4d5072;;
    margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 999px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-image {
        max-block-size: 295px;
        max-inline-size: 295px;
    }

    .hero-text {
        max-width: 100%;
    }

    .module {
        block-size: 480px;
    }

    .module-grid {
        flex-direction: column;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
        margin: 20px 0;
    }
}